<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会员注册</title>
</head>

<body>
    <form action="/user/regist" method="post">
        <label for="username">用户名：</label>
        <input type="text" name="username" id="username">
        <label for="password">密码：</label>
        <input type="password" name="password" id="password">
        <label for="email">电子邮箱：</label>
        <input type="text" name="email" id="email">
        <label for="phone">手机号码：</label>
        <input type="text" name="phone" id="phone">
        <input type="submit" value="注册">
    </form>
    
    {{ . }}
</body>

</html>