body {
	background-color: #F2F2F2;
	color: #666666;
}

.user-login-main {
	padding-top: 110px;
}

.user-login-header {
	padding: 20px;
}

.user-login-header h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	color: #000000;
}

.user-login-body {
	width: 100%;
}

.user-login-footer {
	padding-top: 110px;
}

.user-login-footer p {
	text-align: center;
}
