{{ define "content"}}

<link rel="stylesheet" type="text/css" href="/static/css/manage-table.css" />

<div class="layui-fluid table-body">
	<table id="admin-session-elem" lay-filter="admin-session-filter"></table>
</div>

<script type="text/javascript">
	layui.use(['table'], function() {
		var table = layui.table;
		var $ = layui.jquery;
		var layer = layui.layer;

		// 渲染数据表格
		table.render({
			elem: '#admin-session-elem',
			id: 'admin-session-id',
			url: 'http://localhost:8081/api/admin/session/list',
			parseData: function(res) {
				return {
					code: res.code == 200 ? 0 : 500,
					msg: res.msg,
					count: res.count,
					data: res.data
				}
			},
			request: {
				pageName: 'pageNo',
				limitName: 'pageSize'
			},
			page: true,
			limit: 5,
			limits: [5, 10, 15, 20],
			cols: [
				[{
					field: 'session_id',
					title: 'ID',
					sort: true,
					width: 300
				}, {
					field: 'admin_id',
					title: '管理员ID',
					sort: true
				}, {
					title: '操作',
					width: 140,
					templet: '#op-tpl'
				}]
			]
		});

		// 数据表格绑定行事件
		table.on('tool(admin-session-filter)', function(row) {
			if (row.event == 'del') {		
				// 删除
				layer.confirm('是否删除管理员Session？', function(index) {
					$.ajax({
						type: 'DELETE',
						url: 'http://localhost:8081/api/admin/session',
						contentType: "application/json; charset=utf-8",
						data: JSON.stringify(row.data),
						dataType: "json",
						success: function(res) {
							if (res.code != 200) {
								layer.msg(res.msg);
							} else {
								layer.msg(res.msg, {
									time: 1200
								});
								row.del();
								layer.close(index);
								table.reload("admin-session-id");
							}
						}
					});
				});
			}
		});

	});
</script>

<script type="text/html" id="op-tpl">
	<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
</script>

{{ end }}
