{{ define "content"}}

<link rel="stylesheet" type="text/css" href="/static/css/manage-table.css" />

<div class="layui-fluid table-body">
	<button id="add" type="button" class="layui-btn layui-btn-fluid layui-btn-md layui-btn-normal">添加产品类别</button>
	<table id="categories-elem" lay-filter="categories-filter"></table>
</div>

<script type="text/javascript">
	layui.use(['table'], function() {
		var table = layui.table;
		var $ = layui.jquery;
		var layer = layui.layer;

		// 渲染数据表格
		table.render({
			elem: '#categories-elem',
			id: 'categories-id',
			url: 'http://localhost:8081/api/categories',
			parseData: function(res) {
				return {
					code: res.code == 200 ? 0 : 500,
					msg: res.msg,
					count: res.count,
					data: res.data
				}
			},
			request: {
				pageName: 'pageNo',
				limitName: 'pageSize'
			},
			page: true,
			limit: 5,
			limits: [5, 10, 15, 20],
			cols: [
				[{
					field: 'id',
					title: 'ID',
					sort: true,
					width: 60
				}, {
					field: 'name',
					title: '产品类别名称',
					sort: true
				}, {
					field: 'pid',
					title: '父级ID',
					sort: true
				}, {
					field: 'level',
					title: '层级',
					sort: true
				}, {
					title: '操作',
					width: 140,
					templet: '#op-tpl'
				}]
			]
		});

		// 添加产品类别
		// 添加产品类别按钮绑定事件
		$('#add').click(function() {
			layer.open({
				type: 2,
				title: '添加产品',
				content: 'http://localhost:8081/manage/category-add.html',
				area: ["500px", "550px"],
				end: function() {
					table.reload('categories-id');
				}
			});
		});

		// 数据表格绑定行事件
		table.on('tool(categories-filter)', function(row) {
			if (row.event == 'edit') {
				// 编辑
				layer.open({
					type: 2,
					title: '编辑产品类别',
					content: 'http://localhost:8081/manage/category-edit.html',
					area: ['500px', '500px'],
					success: function(layero, index) {
						var body = layer.getChildFrame('body', index)
						body.find('#id').val(row.data.id);
						body.find('#name').val(row.data.name);
						body.find('#pid').val(row.data.pid);
						body.find('#level').val(row.data.level);
					},
					end: function() {
						table.reload('categories-id');
					}
				});

			} else if (row.event == 'del') {
				// 删除
				layer.confirm('是否删除产品类别？', function(index) {
					$.ajax({
						type: 'DELETE',
						url: 'http://localhost:8081/api/category',
						contentType: "application/json; charset=utf-8",
						data: JSON.stringify({
							id: row.data.id
						}),
						dataType: "json",
						success: function(res) {
							if (res.code != 200) {
								layer.msg(res.msg);
							} else {
								layer.msg(res.msg, {
									time: 1200
								});
								row.del();
								layer.close(index);
								table.reload("categories-id");
							}
						}
					});
				});
			}
		});

	});
</script>

<script type="text/html" id="op-tpl">
	<a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
</script>

{{ end }}
