{{ define "content" }}

<!-- 二级页面内容 start -->
<link rel="stylesheet" href="/static/axui/iconfont.css">
<link rel="stylesheet" href="/static/axui/css/ax.css">
<style>
    .order_write_container {
        width: 1100px;
        margin: 100px auto;
    }

    .order_write_container .ax-panel-header {
        margin-top: 20px;
    }

    .order_write_container .ax-panel-header .ax-flex-row {
        margin: 5px 0;
    }
</style>

<div class="order_write_container">
    <div class="ax-panel ax-border ax-radius ax-padding ax-xl">
        <div class="ax-panel-body">
            <table class="ax-table ax-stripe">
                <thead>
                    <tr>
                        <th>产品名称</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>金额</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Cart.CartItems }}
                    <tr>
                        <td>{{ .Product.Name }}</td>
                        <td>{{ .Count }}</td>
                        <td>{{ .Product.Price }}</td>
                        <td>{{ .Amount }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
        <div class="ax-panel-header ax-row">
            <div class="ax-col">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">收货地址：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <div class="ax-row" style="width: 700px;">
                                    <div class="ax-col ax-col-4"><input type="text" id="province"
                                            value="{{ .Address.Province }}"><span class="ax-pos-right">省</span></div>
                                    <span class="ax-gutter-md"></span>
                                    <div class="ax-col ax-col-6"><input type="text" id="city"
                                            value="{{ .Address.City }}"><span class="ax-pos-right">市</span></div>
                                    <span class="ax-gutter-md"></span>
                                    <div class="ax-col ax-col-8"><input type="text" id="area"
                                            value="{{ .Address.Area }}"><span class="ax-pos-right">县/区</span></div>
                                    <span class="ax-gutter-md"></span>
                                    <div class="ax-col ax-col-12"><input type="text" id="street"
                                            value="{{ .Address.Street }}"><span class="ax-pos-right">街道</span></div>
                                    <span class="ax-gutter-md"></span>
                                    <div class="ax-col ax-col-6"><input type="text" id="code"
                                            value="{{ .Address.Code }}"><span class="ax-pos-right">邮编</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ax-flex-row">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">支付方式：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <select id="paymentType">
                                        {{ range.OrderPaymentTypes }}
                                        <option value="{{ .Code }}">{{ .Text }}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ax-flex-row">
                        <div class="ax-form-label">电话号码：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input"><input type="text" id="tel" value="{{ .Address.Tel }}"></div>
                        </div>
                    </div>
                    <div class="ax-flex-row">
                        <div class="ax-form-label">姓名：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input"><input type="text" id="name" value="{{ .Address.Name }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ax-panel-header ax-row">
            <div class="ax-col">
                <b class class="ax-title">
                    购物车中共有<span class="ax-color-danger">{{ .Cart.TotalCount }}</span>件商品，
                    总金额<span class="ax-color-danger">{{ .Cart.TotalAmount }}</span>元，
                    支付金额<span class="ax-color-danger">{{ .Order.Payment }}</span>元
                    (含运费<span class="ax-color-danger">{{ .Order.ShipFee }}</span>元)</b>
            </div>
            <a href="javascript:void(0);" class="ax-btn ax-primary ax-md" id="commitOrder">提交订单</a>
        </div>
    </div>
</div>

<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/axui/js/ax.min.js"></script>
<script>
    $(document).ready(function () {
        // 设置选项选中
        $('#paymentType').val('{{ .Order.PaymentType }}');

        // 为提交订单按钮添加单击事件
        $('#commitOrder').click(function () {
            var province = $('#province').val();
            var city = $('#city').val();
            var area = $('#area').val();
            var street = $('#street').val();
            var code = $('#code').val();
            var name = $('#name').val();
            var tel = $('#tel').val();
            var paymentType = $('#paymentType').val();

            if (province == "") {
                alert('省份不能为空！');
                return
            }
            if (city == "") {
                alert('城市不能为空！');
                return
            }
            if (area == "") {
                alert('区/县不能为空！');
                return
            }
            if (name == "") {
                alert('姓名不能为空！');
                return
            }
            if (tel == "") {
                alert('电话号不能为空！');
                return
            }

            var url = '/commitOrder';
            var param = {
                'province': province,
                'city': city,
                'area': area,
                'street': street,
                'code': code,
                'name': name,
                'tel': tel,
                'paymentType': paymentType
            };

            $.post(url, param, function (resp) {
                alert(resp);
                location = '/products'
            });
        });
    });
</script>
<!-- 二级页面内容 end -->

{{ end }}