{{ define "content" }}

<link rel="stylesheet" href="/static/css/common2.css">

<link rel="stylesheet" href="/static/css/product.css">

<!-- 二级页面内容 start -->
<div class="content">
    <div class="content_inner inner_c">
        <!-- 面包屑导航 start -->
        <div class="bread_nav">
            <a href="/index">首页</a>
            <span>&gt;</span><a href="/products">所有商品</a>
            <span>&gt;</span><a href="/products?category_id={{ .Product.Category.ID }}">{{ .Product.Category.Name}}</a>
            <span>&gt;</span><span>{{ .Product.Name }}</span>
        </div>
        <!-- 面包屑导航 end -->

        <!-- 商品页面内容 -->
        <div class="pro_cont">
            <div class="pro_buy">
                <!-- 产品图片 -->
                <div class="pro_left">
                    <div class="pro_pic">
                        <img src="{{ .Product.ImgPath }}" alt="">
                    </div>
                </div>
                <!-- 产品规格选择 -->
                <div class="pro_detail">
                    <h1>{{ .Product.Name }}</h1>
                    <h3>{{ .Product.HotPoint }}</h3>
                    <div class="pro_pri">
                        售价<span class="pri_sym">￥</span><span class="pri_num">{{ .Product.Price }}</span>
                    </div>
                    <div class="pro_num">
                        <!-- <p>选择数量</p>
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button> -->
                        <span>（库存 {{ .Product.Stock }} 件，已售 {{ .Product.Sales }} 件）</span>
                    </div>
                    <div class="btns">
                        <a id="{{ .Product.ID }}" class="addToCart" href="javascript:void(0)">加入购物车</a>

                        <script>
                            $(function () {
                                // 给添加购物车按钮绑定单击事件
                                $(".addToCart").click(function () {
                                    var productID = $(this).attr("id");
                                    var url = "/addToCart"
                                    var param = { "productID": productID }
                                    // 发送ajax请求
                                    $.post(url, param, function (res) {
                                        alert(res);
                                    });
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>

            <!-- 产品介绍 -->
            <div class="pro_desc">
                <div class="pic">
                    <img src="{{ .Product.Detail }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 二级页面内容 end -->

{{ end }}