{{ define "content"}}

<link rel="stylesheet" type="text/css" href="/static/css/manage-table.css" />

<div class="layui-fluid table-body">
	<p>会员用户账号信息</p>
	<table id="users-elem" lay-filter="users-filter"></table>
</div>

<script type="text/javascript">
	// 加载模块
	layui.use(['table', 'layer'], function() {
		var table = layui.table;
		var layer = layui.layer;
		var $ = layui.jquery;

		// 渲染table组件
		table.render({
			elem: "#users-elem", // 挂载元素
			id: "users-id", // 标识table组件
			url: "http://localhost:8081/api/user", // 数据接口地址
			parseData: function(res) { // 解析数据接口的数据，将其数据格式映射为table组件的数据格式
				return {
					code: res.code == 200 ? 0 : 500,
					msg: res.msg,
					count: res.count,
					data: res.data
				}
			},
			request: { // 向数据接口地址发送请求获取数据时的查询字符串参数名，默认是page和limit，可以重新设定
				pageName: "pageNo", // 页码的参数名
				limitName: "pageSize" // 每页记录条数的参数名
			},
			cols: [
				[ // 表头
					{
						field: "id",
						title: "ID",
						sort: true,
						width: 60
					}, {
						title: "头像",
						width: 80,
						templet: function(data) {
							return '<a id="uploadAvatar" lay-event="uploadAvatar"><img src="http://localhost:8081/static/' +
								data.avatar + '" style="width: 40px; height: auto;" /></a>'
						}
					}, {
						field: "username",
						title: "用户名称",
						sort: true
					}, {
						field: "password",
						title: "密码",
						sort: true
					}, {
						field: "email",
						title: "电子邮箱",
						sort: true
					}, {
						field: "nickname",
						title: "昵称",
						sort: true
					}, {
						title: "性别",
						sort: true,
						width: 80,
						templet: function(d) {
							return d.sex == 1 ? '男' : '女';
						}
					}, {
						field: "phone",
						title: "手机号码",
						sort: true,
						width: 120
					}, {
						field: "country",
						title: "国家",
						width: 80,
						sort: true
					}, {
						field: "province",
						title: "省份",
						sort: true,
						width: 80
					}, {
						field: "city",
						title: "城市",
						sort: true,
						width: 80
					}, {
						title: "操作",
						width: 140,
						align: "center",
						templet: function() {
							var str =
								'<a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="edit">编辑</a>';
							return str;
						}
					}
				]
			]
		});

		// 添加用户
		// 为添加用户按钮绑定单击事件
		$('#addUser').click(function() {
			// 打开弹出层
			layer.open({
				type: 2, // iframe层
				title: '添加用户',
				content: 'http://localhost:8081/manage/user-add.html', // 请求URL
				area: ['500px', '600px'],
				end: function() { // 弹出层销毁时触发的回调函数
					table.reload('users-id'); // 重新加载table组件的数据
				}
			});
		});

		// 给数据表格行绑定事件
		table.on('tool(users-filter)', function(row) {
			if (row.event == "edit") {
				// 编辑用户
				// 打开弹出层
				layer.open({
					type: 2, // iframe层
					title: '编辑用户',
					content: 'http://localhost:8081/manage/user-edit.html', // 请求URL
					area: ['500px', '600px'],
					success: function(layero, index) { // 弹出层弹出后触发回调函数
						// 数据回显
						var body = layer.getChildFrame('body',
							index) // 获取指定索引的iframe层的body元素对象
						// body元素对象的子元素对象赋值
						body.find('#id').val(row.data.id);
						body.find('#username').val(row.data.username);
						body.find('#password').val(row.data.password);
						body.find('#email').val(row.data.email);
						body.find('#nickname').val(row.data.nickname);
						body.find('input[name=sex][value=' + row.data.sex + ']').attr(
							'checked', '');
						body.find('#phone').val(row.data.phone);
						body.find('#country').val(row.data.country);
						body.find('#province').val(row.data.province);
						body.find('#city').val(row.data.city);
					},
					end: function() { // 弹出层销毁后触发的回调函数
						table.reload("users-id"); //重新加载table组件的数据
					}
				});
			} else if (row.event == "uploadAvatar") {
				// 上传用户头像
				// 打开弹出层
				layer.open({
					type: 2, // iframe层
					title: '上传用户头像',
					area: ['300px', '300px'],
					content: 'http://localhost:8081/manage/user-avatar-upload.html', // 请求URL
					success: function(layero, index) { // 弹出层弹出时触发的回调函数
						var body = layer.getChildFrame('body',
							index) // 获取指定索引的iframe层的的body元素对象
						// body元素对象的子元素对象赋值
						body.find('#userID').val(row.data.id);
					},
					end: function() { // 弹出层销毁时触发的回调函数
						table.reload("users-id"); //重新加载table组件的数据
					}
				});
			}
		});

	});
</script>

{{ end }}
